@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
  /* 將預設inline改為block */
  /* 底線會先拿掉 */
  color: black;
  /* 設定顏色 */
}

/* 取消按鈕樣式 */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}

/* 基本樣式重製 */
select {
  -webkit-appearance: none;
  /* 隱藏默認樣式 (Chrome, Safari, Edge) */
  -moz-appearance: none;
  /* 隱藏默認樣式 (Firefox) */
  appearance: none;
  /* 隱藏默認樣式 (現代瀏覽器) */
  background-color: #F5F5F5;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: #221712;
  cursor: pointer;
  width: 200px;
  text-align: right;
}

/* 增加 hover 和 focus 的樣式 */
select:hover,
select:focus {
  border-color: #007BFF;
  /* 在 hover 或 focus 時的邊框變色 */
}

/* 共用區 */
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 40vh;
}
.item h3 {
  font-size: 1.5rem;
  color: #771011;
  font-weight: 800;
}
.item h2 {
  font-size: 2.5rem;
  color: #221712;
  font-weight: 800;
}
.item p {
  font-size: 1.25rem;
  color: #221712;
  font-weight: 800;
}
.item .more {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  margin-top: 20px;
}
.item .more a {
  color: #221712;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 主要顯示區 */
main {
  background-color: #F5F5F5;
}

#topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ECE6D3;
  margin: 0;
  padding: 0 50px;
  width: 100%;
  height: 10vh;
  position: absolute;
}
#topbar .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 6vh;
}
#topbar .navigation .menulist {
  display: flex;
  align-items: center;
  margin: 0 16px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
#topbar .navigation .menulist a {
  font-size: 1.5rem;
  font-weight: 800;
}
#topbar .navigation .iconlist {
  display: flex;
  align-items: center;
  margin: 0 16px;
  width: 40%;
  height: 100%;
  justify-content: space-between;
}

#banner {
  justify-content: space-between;
  align-items: center;
}
#banner .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 40vh;
  margin-left: 10%;
}
#banner .banner_img {
  width: 60%;
  height: 100vh;
}

#shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: #6F635B 20px solid;
}
#shop .caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 10vh;
  max-width: 1440px;
}
#shop .caption h2 {
  font-size: 2rem;
  color: #221712;
  font-weight: 1000;
}
#shop .shoplist {
  display: flex;
  width: 90%;
  height: 50vh;
  overflow-x: scroll;
  border: #000 solid 2px;
  max-width: 1440px;
}
#shop .shoplist::-webkit-scrollbar {
  background-color: transparent;
}
#shop .shoplist::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #6F635B;
}
#shop .shoplist::-webkit-scrollbar-track {
  margin: 0 500px;
  border-radius: 99px;
  border: #B7B7AB solid 2px;
  background-color: #ECE6D3;
}
#shop .shoplist a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #000 solid 2px;
  width: 100%;
  height: 85%;
  margin: 0 8px;
}
#shop .shoplist a img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 100%;
  border: #000 solid 2px;
}

#fashion {
  justify-content: flex-end;
  background-size: cover;
  background-image: url(../img/fashionbgk.svg);
  border-bottom: #6F635B 20px solid;
}
#fashion .fashbox {
  border: #F5F5F5 solid 2px;
  margin-right: 12%;
  width: 30%;
  padding: 15px;
}
#fashion .fashbox h3 {
  color: #F5F5F5;
}
#fashion .fashbox h2 {
  color: #F5F5F5;
}
#fashion .fashbox p {
  color: #F5F5F5;
}
#fashion .fashbox .more a {
  color: #F5F5F5;
}

#about {
  justify-content: space-between;
}
#about .about {
  width: 55%;
  height: 100%;
}
#about .aboutbox {
  width: 40%;
  height: 100%;
}
#about .aboutbox p {
  width: 70%;
}
#about .aboutbox .more {
  width: 70%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  background-color: #ECE6D3;
  height: 10vh;
}
footer .footerlist {
  width: 20%;
  justify-content: center;
  align-items: center;
}
footer .footerlist ul {
  display: flex;
  justify-content: space-between;
}
footer .footerlist ul li a {
  font-size: 1.5rem;
  font-weight: 800;
}

/* 商品頁 shoplist */
#shoplist {
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 15vh;
  height: auto;
}
#shoplist .shoplist-menu {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 60vh;
}
#shoplist .shoplist-menu h2 {
  font-size: 1.25rem;
  color: #221712;
  font-weight: 800;
  margin: 5px 0;
}
#shoplist .shoplist-menu .choice {
  display: flex;
  flex-direction: column;
}
#shoplist .shoplist-menu .choice .chlist {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#shoplist .shoplist-menu .choice .choice_btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#shoplist .shoplist-menu .choice .choice_btn #choice_btn {
  background-color: #771011;
  color: #F5F5F5;
  width: 30%;
  height: 4vh;
  font-size: 0.8rem;
  border-radius: 10px;
}
#shoplist .shoplist-main {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  border: #000 solid 2px;
}
#shoplist .shoplist-main .carouselimg {
  width: 100%;
  height: 60vh;
  padding-top: 50px;
  border: #000 solid 2px;
}
#shoplist .shoplist-main .carouselimg a {
  width: 100%;
  height: 100%;
}
#shoplist .shoplist-main .carouselimg a img {
  object-fit: cover;
}
#shoplist .shoplist-main .commodity h2 {
  font-size: 1.5rem;
  color: #221712;
  font-weight: 800;
  margin: 5px 0;
}
#shoplist .shoplist-main .commodity .commoditylist {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  border: #000 solid 2px;
}
#shoplist .shoplist-main .commodity .commoditylist a {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 480px;
  margin: auto;
  margin-bottom: 20px;
  border: #000 solid 2px;
}
#shoplist .shoplist-main .commodity .commoditylist a img {
  width: 100%;
  height: 100%;
}
#shoplist .shoplist-main .commodity .commoditylist a .price {
  display: flex;
  justify-content: space-between;
}
#shoplist .morecommdity {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#shoplist .morecommdity #morecommdity {
  background-color: #771011;
  color: #F5F5F5;
  width: 10%;
  height: 5vh;
  font-size: 1.25rem;
  border-radius: 10px;
}

/* 商品頁面 shop */
#shop {
  height: auto;
  padding-top: 15vh;
}
#shop .product {
  width: 80%;
  height: 55vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
#shop .product .product-img {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
#shop .product .product-img .proimglist {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#shop .product .product-img .proimglist img {
  width: 100%;
  height: 95%;
  object-fit: cover;
}
#shop .product .product-img .showimglist {
  display: flex;
  justify-content: center;
  width: 78%;
  height: 100%;
}
#shop .product .product-img .showimglist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#shop .product .product-ifon {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 100%;
}
#shop .product .product-ifon .product-title {
  color: #221712;
}
#shop .product .product-ifon .product-title h3 {
  font-size: 2rem;
  font-weight: 900;
}
#shop .product .product-ifon .product-title p {
  font-size: 0.75rem;
  margin-bottom: 20px;
}
#shop .product .product-ifon .product-title h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
}
#shop .product .product-ifon .choice {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;
  padding-bottom: 2px;
  margin-bottom: 15px;
  border-bottom: solid 2px #221712;
}
#shop .product .product-ifon .choice h2 {
  font-size: 1rem;
  font-weight: 800;
}
#shop .product .product-ifon .product_buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 10vh;
}
#shop .product .product-ifon .product_buy .amount {
  width: 25%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#shop .product .product-ifon .product_buy .amount button {
  background-color: #6F635B;
  color: #F5F5F5;
  align-items: center;
  width: 30%;
  height: 80%;
  line-height: 100%;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 10px;
}
#shop .product .product-ifon .product_buy .amount span {
  font-size: 1rem;
}
#shop .product .product-ifon .product_buy .buy-btn {
  width: 30%;
  height: 5vh;
  align-items: center;
}
#shop .product .product-ifon .product_buy .buy-btn button {
  background-color: #771011;
  color: #F5F5F5;
  width: 100%;
  height: 100%;
  font-weight: 800;
  font-size: 1rem;
}
#shop .introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 60vh;
  padding-top: 15px;
}
#shop .introduction .intcho {
  display: flex;
  width: 80%;
  border-bottom: #000 solid;
}
#shop .introduction .intcho #introduce {
  background-color: #771011;
  margin-left: 5px;
}
#shop .introduction .intcho #evaluate {
  background-color: #6F635B;
}
#shop .introduction .intcho button {
  color: #F5F5F5;
  width: 20%;
  height: 5vh;
  font-weight: 800;
  font-size: 1rem;
}
#shop .introduction .inttestlist {
  width: 80%;
  height: 40vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#shop .introduction .inttestlist p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
#shop .moretitle {
  width: 80%;
  border: #000 solid;
}
#shop .morelist {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: #000 solid;
  overflow: auto;
  margin-bottom: 10vh;
}
#shop .morelist .moreproduct {
  width: 1440px;
  height: 100%;
  display: flex;
  align-content: flex-start;
}
#shop .morelist .moreproduct a {
  width: 300px;
  height: 280px;
  margin: 5px;
}
#shop .morelist .moreproduct a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#shop .morelist .moreproduct a .price {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

/* 登入頁面 login */
#login {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#login .close {
  width: 80%;
  height: 5vh;
  border: #000 solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}
#login .content {
  width: 75%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
}
#login .content .login_img {
  width: 40%;
  height: 100%;
  border: #000 solid;
}
#login .content .login_item {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
  line-height: 140%;
  border: #000 solid;
}
#login .content .login_item h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 42px;
}
#login .content .login_item .user {
  width: 80%;
  max-width: 400px;
}
#login .content .login_item .user h3 {
  font-size: 0.75rem;
}
#login .content .login_item .user input {
  width: 100%;
  height: 4vh;
  margin-bottom: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}
#login .content .login_item .login_btn {
  padding: 10px 44px;
  background-color: #ECE6D3;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 27px;
}/*# sourceMappingURL=style.css.map */