@use'variables' as *;
@use'function' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;

    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;


}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
    /* 將預設inline改為block */
    /* 底線會先拿掉 */
    color: black;
    /* 設定顏色 */
}

/* 取消按鈕樣式 */

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}


/* 基本樣式重製 */
select {
    -webkit-appearance: none;
    /* 隱藏默認樣式 (Chrome, Safari, Edge) */
    -moz-appearance: none;
    /* 隱藏默認樣式 (Firefox) */
    appearance: none;
    /* 隱藏默認樣式 (現代瀏覽器) */
    background-color: map-get($color , bkgcolor);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: map-get($color , font-color);
    cursor: pointer;
    width: 200px;
    text-align: right;
}

/* 增加 hover 和 focus 的樣式 */
select:hover,
select:focus {
    border-color: #007BFF;
    /* 在 hover 或 focus 時的邊框變色 */
}



/* 共用區 */
section {
    width: 100%;
    height: 100vh;

    @include flex-align-center;
    background-color: map-get($color , bkgcolor);

}

.item {
    @include flex-column;
    justify-content: center;
    width: 25%;
    height: 40vh;


    h3 {
        font-size: 1.5rem;
        color: map-get($color , primary);
        font-weight: 800;
    }

    h2 {
        font-size: map-get($font-size , xxl);
        color: map-get($color , font-color);
        font-weight: 800;
    }

    p {
        font-size: map-get($font-size , m);
        color: map-get($color , font-color);
        font-weight: 800;

    }

    .more {
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
        margin-top: 20px;

        a {
            color: map-get($color , font-color)
        }

    }
}

.more {
    display: flex;
    justify-content: flex-end;
    a{
        display: flex;
        align-items: flex-end;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 主要顯示區 */
main {
    background-color: map-get($color , bkgcolor)
}

#topbar {
    @include flex-align-center;
    justify-content: space-between;
    background-color: map-get($color , secondary);
    margin: 0;
    padding: 0 50px;
    width: 100%;
    height: 10vh;
    position: absolute;


    .navigation {
        @include flex-center;
        width: 30%;
        height: 6vh;
        justify-content: space-between;

        .menulist {
            @include flex-align-center;
            
            width: 60%;
            height: 100%;
            justify-content: space-between;

            a {
                font-size: map-get($font-size , l);
                font-weight: 800;
            }

        }

        .iconlist {
            @include flex-align-center;
            width: 32%;
            height: 100%;
            justify-content: space-between;
            
          li{
            width: 31%;
            height: 100%;
            
            a{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
          }
        }
    }
}


#new {
    justify-content: space-between;
    align-items: center;


    .item {
        @include flex-column;
        justify-content: center;
        width: 25%;
        height: 40vh;
        margin-left: 10%;

     
    }

    .new_img {
        width: 60%;
        height: 100vh;

    }
}

#shop {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: map-get($color , assistbroen) 20px solid;


    .caption {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 90%;
        height: 10vh;
        max-width: 1440px;
        margin-bottom: 20px;

        h2 {
            font-size: 2rem;
            color: map-get($color , font-color);
            font-weight: 1000;
        }
    }

    .shoplist {
        display: flex;
        width: 90%;
        height: 50vh;
        overflow-x: scroll;
        max-width: 1440px;


        &::-webkit-scrollbar {
            background-color: transparent;

        }

        &::-webkit-scrollbar-thumb {
            border-radius: 99px;
            background-color: map-get($color , assistbroen);
        }

        &::-webkit-scrollbar-track {
            margin: 0 200px;
            border-radius: 99px;
            border: map-get($color , assistGray-2) solid 2px;
            background-color: map-get($color , secondary);
        }

        .pdulist {
            display: flex;

            a {
                @include flex-column-center;
                width: 264px;
                height: 85%;
                margin: 0 8px;

                img {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

            }
        }
    }
}

#fashion {

    justify-content: flex-end;
    background-size: cover;
    background-image: url(../img/fashionbgk.svg);
    border-bottom: map-get($color , assistbroen) 20px solid;

    .fashbox {
        border: map-get($color , bkgcolor) solid 2px;
        margin-right: 12%;
        width: 30%;
        padding: 15px;

        h3 {
            color: map-get($color , bkgcolor)
        }

        h2 {
            color: map-get($color , bkgcolor)
        }

        p {
            color: map-get($color , bkgcolor)
        }

        .more {

            a {
                color: map-get($color , bkgcolor)
            }

        }

    }

}

#about {

    justify-content: space-between;

    .about {
        width: 55%;
        height: 100%;
    }

    .aboutbox {
        width: 40%;
        height: 100%;

        p {
            width: 70%;
        }

        .more {
            width: 70%;
        }
    }


}

footer {
    @include flex-center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    background-color: map-get($color , secondary);

    height: 10vh;

    .footerlist {
        width: 20%;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                a {
                    font-size: map-get($font-size , l);
                    font-weight: 800;
                }
            }
        }
    }
}

/* 商品頁 shoplist */
#shoplist {
    justify-content: center;
    align-items: flex-start;
    padding-top: 15vh;
    height: auto;


    .shoplist-menu {
        @include flex-column;
        width: 10%;
        height: 80vh;
        


        h2 {
            font-size: 1.25rem;
            color: map-get($color , font-color);
            font-weight: 800;
            margin: 5px 0;

        }

        .choice {
            @include flex-column;

            .chlist {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
            }

            .choice_btn {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;

                #choice_btn {
                    background-color: map-get($color , primary);
                    color: map-get($color , bkgcolor);
                    width: 30%;
                    height: 4vh;
                    font-size: 0.8rem;
                    

                }

            }
        }

    }

    .shoplist-main {
        @include  flex-column-center ;
        width: 70%;
        height: 100%;


        .carouselimg {
            width: 95%;
            height: 60vh;
            padding-top: 50px;
         
            

            a {
                width: 100%;
                height: 100%;

                img {
                    object-fit: cover;
                }
            }

        }

        .commodity {
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
       


            h2 {
                font-size: 1.5rem;
                color: map-get($color , font-color);
                font-weight: 800;
                margin: 5px 0;
                width: 90%;
                
            }

            .commoditylist {
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                width: 95%;
                height: 100%;
                
                

                a {
                    @include flex-column;
                    width: 350px;
                    height: 480px;
                    margin: 15px auto;
                    
                    

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .price {
                        display: flex;
                        justify-content: space-between;
                    }

                }

            }
        }
    }

    .morecommdity {
        width: 100%;
        height: 10vh;
        @include flex-center;

        #morecommdity {
            background-color: map-get($color , primary);
            color: map-get($color , bkgcolor);
            width: 10%;
            height: 5vh;
            font-size: 1.25rem;
            

        }

    }

}


/* 商品頁面 shop */
#shopbox {
    @include flex-column;
    height: auto;
    padding-top: 15vh;

    .product {
        width: 80%;
        height: 55vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
 

        .product-img {
            display: flex;
            justify-content: space-between;
            width: 50%;
            height: 100%;

            .proimglist {
                width: 20%;
                height: 100%;
                @include flex-column;
                justify-content: space-between;

                img {
                    width: 100%;
                    height: 95%;
                    object-fit: cover;
                }
            }

            .showimglist {
                display: flex;
                justify-content: center;
                width: 78%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
        }

        .product-ifon {
            @include flex-column;
            width: 48%;
            height: 100%;

            .product-title {
                color: map-get($color , font-color);

                h3 {
                    font-size: 2rem;
                    font-weight: 900;
                }

                p {
                    font-size: .75rem;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 2rem;
                    font-weight: 900;
                    margin-bottom: 10px;
                }
            }

            .choice {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 70%;
                padding-bottom: 2px;
                margin-bottom: 15px;
                border-bottom: solid 2px map-get($color , font-color);

                h2 {
                    font-size: 1rem;
                    font-weight: 800;
                }


            }

            .product_buy {
                @include flex-align-center;
                justify-content: space-between;
                width: 70%;
                height: 10vh;

                .amount {

                    width: 25%;
                    height: 5vh;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        background-color: map-get($color , assistbroen);
                        color: map-get($color , bkgcolor);
                        align-items: center;
                        width: 30%;
                        height: 80%;
                        line-height: 100%;
                        font-weight: 800;
                        font-size: 1rem;
                        
                    }

                    span {
                        font-size: 1rem;

                    }

                }

                .buy-btn {
                    width: 30%;
                    height: 5vh;
                    align-items: center;

                    button {
                        background-color: map-get($color , primary);
                        color: map-get($color , bkgcolor);
                        width: 100%;
                        height: 100%;
                        font-weight: 800;
                        font-size: 1rem;

                    }

                }

            }

        }

    }

    .introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 60vh;
        // border: #000 solid;
        padding-top: 15px;

        .intcho {
            display: flex;
            width: 80%;
            border-bottom: #000 solid;

            #introduce {
                background-color: map-get($color , primary);
                margin-left: 5px;
            }

            #evaluate {
                background-color: map-get($color , assistbroen);

            }

            button {
                color: map-get($color , bkgcolor);
                width: 20%;
                height: 5vh;
                font-weight: 800;
                font-size: 1rem;
            }
        }

        .inttestlist {
            width: 80%;
            height: 40vh;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            p {
                font-size: 1.2rem;
                margin-bottom: 5px;
            }
        }
    }

    .moretitle {
        width: 80%;
    }


    .morelist {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        margin-bottom: 10vh;


        .moreproduct {
            width: 1440px;
            height: 100%;
            display: flex;
            align-content: flex-start;


            a {
                width: 300px;
                height: 280px;
                margin: 5px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .price {
                    width: 95%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}


/* 登入頁面 login */

#login {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;


    .close {
        width: 75%;
        height: 10vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2%;
    }

    .content {
        width: 60%;
        height: 70vh;
        display: flex;
        justify-content: space-between;
        border: map-get($color , assistGray) solid 1px;


        .login_img {
            width: 45%;
            height: 100%;
        }

        .login_item {
            width: 55%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-top: 10vh;
            line-height: 140%;


            h2 {
                font-size: 2rem;
                font-weight: 900;
                margin-bottom: 42px;
            }

            .user {
                width: 80%;
                max-width: 400px;


                h3 {
                    font-size: 0.75rem;
                }

                input {
                    width: 100%;
                    height: 4vh;
                    margin-bottom: 10px;
                    padding-left: 10px;
                    border: map-get($color , font-color) solid 1px;
                    border-radius: 10px;
                    outline: none;
                }

                p {
                    display: flex;
                    justify-content: flex-end;

                    a {
                        font-size: 0.75rem;
                        color: map-get($color , primary);
                        font-weight: bold;
                        right: 0;
                    }

                }


            }

            .login_btn {
                padding: 10px 44px;
                background-color: map-get($color , secondary);
                font-size: 1rem;
                border-radius: 10px;
                margin: 27px 0;
            }

            .checkid {
                width: 80%;
                max-width: 400px;
                display: flex;
                justify-content: center;
                border-bottom: map-get($color , assistGray) solid;

                p {
                    margin-left: 10px;
                    color: map-get($color , primary);
                    font-weight: bold;
                }

            }
        }

    }
}

/* checkout 結帳畫面 */

#checkout {
    flex-direction: column;
    height: auto;
    padding-top: 15vh;

    .shoppingcar {
        width: 90%;
        max-width: 1440px;
        height: 5vh;
        font-weight: 900;
    }

    .chechoutlist {
        display: flex;
        justify-content: space-between;
        // border: #000 solid;
        width: 90%;
        max-width: 1440px;
        height: auto;
        min-height: 90vh;

        .com_checkout {
            width: 60%;
            height: 100%;

            .com_checkout_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 95%;
                height: 30vh;
                padding: 10px;
                border-bottom: map-get($color , assistGray) solid;

                img {
                    width: 25%;
                    height: 25vh;
                    object-fit: cover;

                }

                .com_illustrate {
                    width: 73%;
                    height: 20vh;

                    // border: #000 solid;
                    .ill_title {
                        display: flex;
                        justify-content: space-between;
                        width: 90%;

                        h2 {
                            font-weight: 900;
                        }
                    }

                    .choice {
                        width: 80%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: #000 solid;

                        h2 {
                            font-size: 1rem;
                            font-weight: 900;
                        }

                        select {
                            font-size: .75rem;
                            height: 4vh;
                        }

                    }

                    .product_buy {
                        width: 80%;
                        display: flex;
                        justify-content: space-between;

                        .amount {

                            width: 25%;
                            height: 5vh;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            button {
                                background-color: map-get($color , assistbroen);
                                color: map-get($color , bkgcolor);
                                align-items: center;
                                width: 30%;
                                height: 80%;
                                line-height: 100%;
                                font-weight: 800;
                                font-size: 1rem;

                            }

                            span {
                                font-size: 1rem;

                            }

                        }

                    }


                }
            }
        }

        .cal_checkout {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .cal_amount {
                width: 100%;
                height: 20vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: map-get($color , assistGray);


                h2 {
                    width: 75%;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;
                    font-weight: 900;
                    border-bottom: map-get($color , gray-bottom-line) solid;
                    margin-bottom: 5px;
                }

                .totlist {
                    width: 60%;
                    height: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        font-size: 1.25rem;
                        font-weight: 900;
                    }

                    p {
                        font-size: 1rem;
                    }

                }

            }

            .cal_tranlist {
                width: 100%;
                height: 60vh;
                margin-top: 30px;
                background-color: map-get($color , assistGray);



                .schedule {
                    width: 100%;
                    height: 25%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    border-bottom: map-get($color , gray-bottom-line) solid;

                    .schedule_list {
                        border: #000 solid;
                    }
                }

                .transport_choice {
                    width: 100%;
                    height: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 5vh;

                    h2 {
                        width: 70%;
                        height: 50px;
                        background-color: map-get($color , bkgcolor);
                        font-size: 1rem;
                        font-weight: bold;
                        line-height: 50px;
                        padding-left: 20px;
                        margin-bottom: 10px;
                    }


                    .tranlist_btn {
                        width: 60%;
                        height: 10%;
                        margin-top: 5vh;
                        background-color: map-get($color , primary);
                        color: map-get($color , bkgcolor);

                    }
                }

            }
        }


    }
}