$color: (
    //map-get( $color , dark)
    // 主色
    primary: #771011,
    secondary:#ECE6D3,

    // assist協助
    assistGray:#C0BFB2,
    assistGray-2:#B7B7AB,
    assistbroen:#6F635B,

    //背景色
    bkgcolor: #F5F5F5,
    font-color:#221712,

);