@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
  /* 將預設inline改為block */
  /* 底線會先拿掉 */
  color: black;
  /* 設定顏色 */
}

/* 共用區 */
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 40vh;
}
.item h3 {
  font-size: 1.5rem;
  color: #771011;
  font-weight: 800;
}
.item h2 {
  font-size: 2.5rem;
  color: #221712;
  font-weight: 800;
}
.item p {
  font-size: 1.25rem;
  color: #221712;
  font-weight: 800;
}
.item .more {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  margin-top: 20px;
}
.item .more a {
  color: #221712;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 主要顯示區 */
main {
  background-color: #F5F5F5;
}

#topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ECE6D3;
  margin: 0;
  padding: 0 50px;
  width: 100%;
  height: 10vh;
  position: absolute;
}
#topbar .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 6vh;
}
#topbar .navigation .menulist {
  display: flex;
  align-items: center;
  margin: 0 16px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
#topbar .navigation .menulist a {
  font-size: 1.5rem;
  font-weight: 800;
}
#topbar .navigation .iconlist {
  display: flex;
  align-items: center;
  margin: 0 16px;
  width: 40%;
  height: 100%;
  justify-content: space-between;
}

#banner {
  justify-content: space-between;
  align-items: center;
}
#banner .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 40vh;
  margin-left: 10%;
}
#banner .banner_img {
  width: 60%;
  height: 100vh;
}

#shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: #6F635B 20px solid;
}
#shop .caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 10vh;
  max-width: 1440px;
}
#shop .caption h2 {
  font-size: 2rem;
  color: #221712;
  font-weight: 1000;
}
#shop .shoplist {
  display: flex;
  width: 90%;
  height: 50vh;
  overflow-x: scroll;
  border: #000 solid 2px;
  max-width: 1440px;
}
#shop .shoplist::-webkit-scrollbar {
  background-color: transparent;
}
#shop .shoplist::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #6F635B;
}
#shop .shoplist::-webkit-scrollbar-track {
  margin: 0 500px;
  border-radius: 99px;
  border: #B7B7AB solid 2px;
  background-color: #ECE6D3;
}
#shop .shoplist a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #000 solid 2px;
  width: 100%;
  height: 85%;
  margin: 0 8px;
}
#shop .shoplist a img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 100%;
  border: #000 solid 2px;
}

#fashion {
  justify-content: flex-end;
  background-size: cover;
  background-image: url(../img/fashionbgk.svg);
  border-bottom: #6F635B 20px solid;
}
#fashion .fashbox {
  border: #F5F5F5 solid 2px;
  margin-right: 12%;
  width: 30%;
  padding: 15px;
}
#fashion .fashbox h3 {
  color: #F5F5F5;
}
#fashion .fashbox h2 {
  color: #F5F5F5;
}
#fashion .fashbox p {
  color: #F5F5F5;
}
#fashion .fashbox .more a {
  color: #F5F5F5;
}

#about {
  justify-content: space-between;
}
#about .about {
  width: 55%;
  height: 100%;
}
#about .aboutbox {
  width: 40%;
  height: 100%;
}
#about .aboutbox p {
  width: 70%;
}
#about .aboutbox .more {
  width: 70%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  background-color: #ECE6D3;
  height: 10vh;
}
footer .footerlist {
  width: 20%;
  justify-content: center;
  align-items: center;
}
footer .footerlist ul {
  display: flex;
  justify-content: space-between;
}
footer .footerlist ul li a {
  font-size: 1.5rem;
  font-weight: 800;
}/*# sourceMappingURL=style.css.map */